.Profilename {
     color: rgb(1, 1, 145);
     flex: 2;
}

.atas {
    width: 50%;
    ma
    
}
.head {
margin-right:400px ;
}

.img {
    display: flex;
    margin-left: 0px;
    padding: 20px;
    justify-content:space-between;
    
}
.pace {
    text-align: right;

    justify-content: space-between;
}

.Pikachu {
    margin: 50px;
    width: 100px;
}

.bigbang {
    display: flex;
    justify-content: space-evenly;
}

.tulis {
    
}
.cici {
    margin: 50px;
}
.cici2 {
    margin: 50px;
}